{% extends "base.html" %} {% block title %}我想变回人{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="/static/css/HE.css">{% endblock %}
{% block script %}
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
   <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
   <% } %>
       {% endblock %}
{% block content %}
       <div id="HE"></div>
{% endblock %}