{% extends "base.html" %} {% block title %}Keyboard{% endblock %}
 {% block script %}
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
        {% endblock %}
{% block content %}
{% include "svg.html" %}
        <div id="app"></div>
 {% endblock %}